body{
  width:100%;
  height:100%;
  margin:0px;
  overflow: hidden;
}
#palheta{
  width:100%;
  height:100%;
  background-color: #d3d3d3;
}
#add{
  padding: 20px;
  border-radius:100%;
  position: fixed;
  bottom:3%;
  right: 3%;
  background-color: #000;
  color:#fff;
  border:1px solid #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pale{
  width:100%;
  height:100%;
  float: left;
  transition: width 0.3s linear 0s;
}
#click{
  font-size: 50px;
  height:100px;
  width:300px;
  line-height: 100px;
  font-family: Century Gothic;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -50px;
}
